	<br><br>
	<div class="container" style="width: 500px">
		
		<%=form_tag("/products",method: "post") do %>
			<div class="form group">
				<label >product name *</label>
				<input  id="name" class="form-control" placeholder="Enter Product Name" name="name"/>
			</div>
			<div class="form group">
				<label >price *</label>
				<input  id="price" class="form-control" placeholder="Enter Product Price" name="price"/>
			</div>
			<div class="form group">
				<label >img_url</label>
				<input  id="price" class="form-control" placeholder="Enter Imagine Url" name="img_url"
				value="http://www.placehold.it/350x350"/>
			</div>
			<div class="form group">
				<label>category 
					<select name="category_id">
						<% @categories.each do |cate|%>
						<option value="<%=cate.id%>" <%=selected(@category_id,cate.id)%>><%=cate.name%></option>
						<%end%>
					</select>
				</label>
			</div>
			<div class="form group">
				<label>description</label>
				<textarea id="descr" class="form-control" name="descr" col="24 " row="4"></textarea>
			</div>		
			<div>
				<button type="submit" class="btn btn-default" onclick="return checkInput();">add</button>
				<button class="btn btn-default" onclick="return backToHome();">return</button>
			</div>
		<%end%>
		

		<script type ="text/javascript">
			function checkInput(){
				var name=document.getElementById("name")
				if (name.value.length==0) {
					alert("please enter product name")
					return false
				}
				var price=document.getElementById("price")
				if (price.value.length==0) {
					alert("please enter price")
					return false
				}
				return true
			}

			function backToHome(){
				window.location.href="/"
				return false
			}
		</script>